.searchbox {
	background: f2f2f2;
	padding: 150px 40px 180px 40px;
	box-shadow: 0 0 3px 0 #ccc;
}

.search-control {
	width: 100%;
	height: 45px;
	background: #F9F9F9;
	box-shadow: 0 0 4px 0 #ccc;
	border: none;
	font-size: 1.4em;
}

.search-label {
	font-size: 18px;
	line-height: 35px;
}

.search-user {
	box-shadow: 0 0 8px 0 #ccc;
	background: #fff;
}

.devices i {
	font-size: 3.0em;
	margin-left: 10px;
}

.devices i.light {
	color: #f2f2f2;
}

.groups_ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.groups_ul li {
	background: #62B347;
	padding: 5px 10px;
	margin-bottom: 6px;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
}

.groups_ul li a {
	color: #fff;
}

.product_img {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0 0 3px 0 #ccc;
}

.tab_menu {
	background: #fff; min-height: 50px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); border-bottom: 5px solid #6FBF98;
}

.tab_link {
	font-size: 1.0em;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 30px;
	color: #333;
}

.tab_link.active {
	background: #6FBF98;
	color: #fff;
}

.tab_link:hover {
	background: #6FBF98;
	color: #fff;
}

.drag_items {
	width: 100%;
}

.drag_items .item {
	width: 100%;
	padding: 3px 10px;
	color: #333;
	background: #fff;
	margin: 6px 0;
	border-radius: 5px;
	border: 1px dashed rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 0 #ccc;
	cursor: move;
	z-index: 1000;
}

.drag_items .disable {
	background: #62B347;
	color: #fff;
	width: 100%;
	padding: 3px 10px;
	margin: 6px 0;
	border-radius: 5px;
	border: 1px dashed rgba(0, 0, 0, 0.3);
	box-shadow: none;
	cursor: arrow;
	z-index: 1000;
}

.items_middle {
	min-height: 400px; border-top: 4px solid #62B347;
}

.items_sidebar {
	min-height: 500px; background: #333; height: 400px; overflow-y: scroll;
}

.conditionsDiv {
	width: 100%;
	min-height: 400px;
	box-shadow: 0 0 2px 0 #ccc;
	padding: 30px 10px;
}

.dropboxDiv {
	padding: 80px 50px;
	text-align: center;
}

.dropboxDiv i {
	padding: 10px 20px;
	border: 1px dashed #ccc;
	border-radius: 10px;
	font-size: 5.0em;
	box-shadow: 0 0 6px 0 #ccc;
}

.item_condition {
	border: 1px dashed #ccc;
	padding: 5px;
	font-weight: bold;
}

.number_members {
	font-size: 2.5em;
}

.cancel_btn {
	font-weight: bold;
	font-size: 1em;
}

.append_row {
	margin-bottom: 10px;
}

.table-icon {
	font-size: 2.0em;
}

.table-icon2 {
	font-size: 2.0em;
	margin-right: 15px;
}

.other_buttons {
	padding: 0 20px;
	display: none;
}

.other_buttons a {
	margin: 5px 0;
}

@media only screen and (min-width: 1200px) {
	#topnav .navigation-menu {
		margin-left: 350px;
	}
}

@media only screen and (max-width: 1170px) {
	.cd-timeline-content {
		margin-left: 12px !important;
	}
}



.btn-search {
	background: #6FBF98 !important;
}

.btn-search:hover {
	background: #6FBF98 !important;
}

.btn-action {
	background: #6FBF98 !important;
	padding: 10px 20px;
}

.action-btn {
	background: rgb(111, 191, 152) none repeat scroll 0% 0%;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
	border: none;
}

.action-btn:hover {
	color: #fff;
}

.active-btn:active {
	color: #fff;
}

.active-btn:visited {
	color: #fff;
}





.leadbox-header {
	background: #999999;
	padding: 0px 20px;
	box-shadow: 0 0 5px 0 #ccc;
}

.leadbox-header h4 {
	color: #fff;
	font-size: 1.1em;
}

.leadbox {
	background: #F2F2F2;
	padding: 25px 20px;
	font-size: 1.2em;
	margin-bottom: 15px;
	box-shadow: 0 0 5px 0 #ccc;
}

.viewmore {
	margin-top: 20px;
}

.viewmore-btn {
	color: #6FBF98;
	padding: 5px 10px;
	border: 2px dashed #333;
}

.extra-info {
	margin-top: 15px;
}

.btn-green {
	background: #46C59C !important;
	border-color: #46C59C !important;
	color: #fff;
}

.history-green {
	background: #BBE9D6 !important;
}

.history-skin {
	background: #F7EFD6 !important;
}

.sidebar-links {
	border: 2px solid #46C59C;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

.sidebar-links li {
    text-align: center;
    border-bottom: 2px solid #46C59C;
}

.sidebar-links li a {
	color: #333;
	font-size: 1.1em;
	display: inline-block;
    padding: 15px 0;
    width: 100%; 
}

.sidebar-links li.active {
	background: #46C59C;
	color: #fff;
}

.sidebar-links li.active a {
	color: #fff;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{ word-wrap: break-word;}


.leaddetails {
	margin-top: 20px;
    padding-top: 25px;
}

.leaddetails-b {
	margin-top: 55px;
    border-top: 2px solid #ccc;
    padding-top: 25px;
}

.leaddetails-b h4 {
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.quote-text {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.upload-control {
	background: #fff;
	padding: 20px;
}

.quote-submit-btn {
	background: #46C59C;
	color: #fff;
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	float: right;
}
#myIdForUpload {
	cursor: pointer;
	min-height: 150px;
	width: 100%;
	border: 2px dashed #ccc;
	border-radius: 5px;
	background: white;
	padding: 54px 54px;
	box-sizing: border-box;
	text-align:center;
}

.quotebox {
	border: 2px solid #ccc; 
	padding: 40px 120px;
}

.quotebox .subtitle {
	font-size: 22px;
	margin-bottom: 20px;
}

.quotebox .title {
	font-size: 32px;
	margin-bottom: 40px;
}

.quotebox p {
	text-align: left;
	line-height: 22px;
}

.imgbox {
	margin-top: 20px;
	border-bottom: 3px solid #ccc;
	padding-bottom: 30px;
}

.quoteimg {
	height: 150px;
	margin: 10px;
}

.subheading {
	font-size: 20px;
	font-weight: normal;
	margin: 30px 0;
}

.quote-footer {
	margin: 40px 0;
	text-align: left;
}

.respond-btn-box {
	padding-top: 30px;
}

.quote-respond-btn {
	background: #46C59C;
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 20px;
}

@media screen and (max-width: 990px) {
	.quotebox {
		padding: 40px 20px;
	}
}
á§

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, 
.pagination > .active > a:focus, .pagination > .active > span:focus
{
    background-color: #46C59C !important;
    border-color: #46C59C !important;
}
